.row {
  width: 300px;
  height: 100px;
  margin-left: 50px;
  border:  solid black; 
  border-width: 0px 5px 0 0px;
  display: flex;
}

.column {
  width: 100px;
  height: 100px;
  border: solid black;
  border-width: 5px 0px 0 5px;
}

.row:last-of-type {
  border-bottom: 5px solid black;
}

